@model ExampleApp.Models.CreateQueueModel

@using (Ajax.BeginForm("CreateQueue", "Home", new AjaxOptions{ HttpMethod = "POST", UpdateTargetId = "MainBody" }, new { Id = "CreateQueueForm"}))
{
    @Html.AntiForgeryToken()

    <h2>Create a Queue to Get Started</h2>

    <div>
        @Html.EditorForModel()
        <input id="CreateQueueButton" type="submit" value="Create"/>
    </div>
}
