@model ExampleApp.Web.Models.CreateQueueCommandModel

<h2>Create a Queue to Get Started</h2>

<form id="CreateQueueForm">
    @Html.EditorForModel()
    <input id="CreateQueueButton" type="button" value="Create"/>
</form>

<script type="text/javascript">
    // Called when the user initiates a create queue AJAX request.
    function CreateQueueStarted() {
        $('#AjaxStatus').text('STARTED');
        $('#AjaxStatusMessage').text('Request submitting, awaiting a response from the server.');
    }

    function CreateQueueSucceeded(response) {
        $('#AjaxResult').text('SUCCEEDED');
        $('#AjaxStatusMessage').text('The last request was successful.');

        var url = '@Url.Action("ManageQueue")?queueName=' + response.QueueName;

        // Swap out the Create Queue form for the Manage Queue form
        $('#MainBody').load(url);
    }

    function CreateQueueFailed(response) {
        $('#AjaxResult').text('FAILED');
        $('#AjaxStatusMessage').text(response.responseText);
    }

    function CreateQueueCompleted() {
        $('#AjaxStatus').text('COMPLETED');
    }

    function CreateQueue() {
        $.post('@Url.HttpRouteUrl("CreateQueue", null)', $('#CreateQueueForm').serialize())
            .done(CreateQueueSucceeded)
            .fail(CreateQueueFailed)
            .always(CreateQueueCompleted);

        CreateQueueStarted();
    }

    $(function () {
        $('#CreateQueueButton').click(CreateQueue);
    });
</script>
