@model ExampleApp.Web.Models.CreateQueueCommandModel

<h2>Create a Queue to Get Started</h2>

<form id="CreateQueueForm">
    @Html.EditorForModel()
    <button id="CreateQueueButton" type="button" onclick="CreateQueue()">Create</button>
    <div id="CreateQueueAjaxStatus">?</div>
</form>

<script type="text/javascript">
    function CreateQueueSucceeded(response) {
        var url = '@Url.Action("ManageQueue")?queueName=' + response.QueueName;

        // Swap out the Create Queue form for the Manage Queue form
        $('#MainBody').load(url);
    }

    function CreateQueue() {
        // Make the AJAX request and make sure the button works again afterward.
        var ajaxRequest = $.post(
            '@Url.HttpRouteUrl("CreateQueue", null)',
            $('#CreateQueueForm').serialize()
        ).always(function() {
            $('#CreateQueueButton')
                .prop('disabled', false)
                .text('Create');
        }).done(CreateQueueSucceeded);

        // Disable the button so it cannot be clicked repeatedly.
        $('#CreateQueueButton')
            .prop('disabled', true)
            .text('Creating');

        // The request should be starting or running at this point, start reporting status...
        ajax.indicate(ajaxRequest, $('#CreateQueueAjaxStatus'));
    }
</script>
