<h1>Welcome to the Slinqy Example App!</h1>

<div>@ViewBag.ServiceBusNamespace</div>

<div id="MainBody">
    @{ Html.RenderPartial("CreateQueue"); }
</div>

<hr/>

<div id="AjaxStatus"></div><div id="AjaxResult"></div><div id="AjaxStatusMessage"></div>