@using ExampleApp.Web.Models
@model ManageQueueModel

@Html.Partial("QueueInformation", new QueueInformationModel(ViewBag.QueueName, 0))

<hr />

@using (Ajax.BeginForm("ManageQueue", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ManageQueueForm" }, new { Id = "ManageQueueForm" }))
{
    <div>
        @Html.LabelFor(m => m.QueueSettings) @Html.EditorFor(m => m.QueueSettings)

        <input id="UpdateQueueButton" type="submit" value="Update"/>
    </div>
}