@using ExampleApp.Web.Models
@model ManageQueueViewModel

@Html.Partial("QueueInformation", new QueueInformationViewModel(ViewBag.QueueName, 0))

<hr />

@using (Ajax.BeginForm("ManageQueue", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ManageQueueForm" }, new { Id = "ManageQueueForm" }))
{
    <div>
        @Html.LabelFor(m => m.QueueSettings) @Html.EditorFor(m => m.QueueSettings)

        <input id="UpdateQueueButton" type="submit" value="Update"/>
    </div>
}