<h2>Dequeue a Message</h2>

<div id="ReceiveMessageSection">
    <button id="ReceiveMessageButton" type="button">Receive</button>
    <div id="ReceivedMessageBody"></div>
    <div id="ReceiveMessageAjaxStatus"></div>
</div>

<script type="text/javascript">
    // Called when the user initiates a receive message AJAX request.
    function ReceiveMessageStarted() {
        // Disable the button so it cannot be double clicked, or more.
        $('#ReceiveMessageButton')
            .prop('disabled', true)
            .text('Receiving...');
    }

    function ReceiveMessageSucceeded(messageBody) {
        $('#ReceivedMessageBody')
            .text(messageBody);
    }

    function ReceiveMessageCompleted() {
        $('#ReceiveMessageButton')
            .prop('disabled', false)
            .text('Receive');
    }

    function ReceiveMessage() {
        var ajaxRequest = $.get('@Url.HttpRouteUrl("ReceiveMessage", new { queueName = ViewBag.QueueName })')
            .done(ReceiveMessageSucceeded)
            .always(ReceiveMessageCompleted);

        ajax.indicate(ajaxRequest, $('#ReceiveMessageAjaxStatus'), true);

        ReceiveMessageStarted();
    }

    $(function () {
        $('#ReceiveMessageButton').click(ReceiveMessage);
    });
</script>
