<div id="ReceiveMessageSection">
    <button id="ReceiveMessageButton" type="button">Receive</button>
    <div id="ReceivedMessageBody"></div>
</div>

<script type="text/javascript">
    // Called when the user initiates a receive message AJAX request.
    function ReceiveMessageStarted() {
        // Disable the button so it cannot be double clicked, or more.
        $('#ReceiveMessageButton')
            .prop('disabled', true)
            .text('Receiving...');

        $('#AjaxStatus').text('STARTED');
        $('#AjaxStatusMessage').text('Request submitting, awaiting a response from the server.');
    }

    function ReceiveMessageSucceeded(messageBody) {
        $('#ReceivedMessageBody')
            .text(messageBody);

        $('#AjaxResult').text('SUCCEEDED');
        $('#AjaxStatusMessage').text('The last request was successful.');
    }

    function ReceiveMessageFailed(response) {
        $('#AjaxResult').text('FAILED');
        $('#AjaxStatusMessage').text(response.responseText);
    }

    function ReceiveMessageCompleted() {
        $('#ReceiveMessageButton')
            .prop('disabled', false)
            .text('Receive');

        $('#AjaxStatus').text('COMPLETED');
    }

    function ReceiveMessage() {
        $.get('@Url.HttpRouteUrl("ReceiveMessage", new { queueName = ViewBag.QueueName })')
            .done(ReceiveMessageSucceeded)
            .fail(ReceiveMessageFailed)
            .always(ReceiveMessageCompleted);

        ReceiveMessageStarted();
    }

    $(function () {
        $('#ReceiveMessageButton').click(ReceiveMessage);
    });
</script>
