@model ExampleApp.Web.Models.ReceiveQueueCommandModel

<h2>Receive All Queued Messages</h2>

<form id="ReceiveQueueForm">
    @Html.EditorForModel()
    <button id="StartReceivingQueueButton" type="button">Start</button>
    <div id="ReceiveQueueMessagesReceived">0</div> received
    <div id="ReceiveQueueAjaxStatus"></div>
</form>

<script type="text/javascript">
    function ReceiveQueue() {
        var receiveQueueUrl = '@Url.HttpRouteUrl("ReceiveQueue", new { queueName = ViewBag.QueueName })';
        var payload = $('#ReceiveQueueForm').serialize();
        var ajaxRequest = $.post(receiveQueueUrl, payload)
            .done(StartReceiveQueueSucceeded);

        ajax.indicate(ajaxRequest, $('#ReceiveQueueAjaxStatus'), true);

        StartReceiveQueueStarted();
    }

    // Called when the user initiates a receive queue AJAX request.
    function StartReceiveQueueStarted() {
        // Disable the button so it cannot be double clicked, or more.
        $('#StartReceivingQueueButton').prop('disabled', true);
    }

    function StartReceiveQueueSucceeded() {
        // Start polling for completion...
        setTimeout(PollReceiveStatus, 500);
    }

    function PollReceiveStatus() {
        var receiveStatusUrl = '@Url.HttpRouteUrl("GetReceiveQueueStatus", new { queueName = ViewBag.QueueName })';

        var ajaxRequest = $.getJSON(receiveStatusUrl)
            .done(UpdateReceiveStatus);

        ajax.indicate(ajaxRequest, $('#ReceiveQueueAjaxStatus'));
    }

    function UpdateReceiveStatus(receiveOperation) {
        switch (receiveOperation.Status) {
            case 1: // Running
                $('#StartReceivingQueueButton').text('Receiving...');

                // Check again later...
                setTimeout(PollReceiveStatus, 500);

                break;
            case 2: // Finished
                // Re-enable the receive button.
                $('#StartReceivingQueueButton')
                    .text('Start')
                    .prop('disabled', false);

                break;
            default:
                alert(
                    'Invalid receive operation status: ' + receiveOperation.Status
                );

                break;
        }

        $('#ReceiveQueueMessagesReceived')
            .text(receiveOperation.ReceivedCount);
    }

    $(function () {
        // Tie the button to the function.
        $('#StartReceivingQueueButton').click(ReceiveQueue);
    });
</script>
