@model ExampleApp.Web.Models.SendMessageCommandModel

<h2>Enqueue a Message</h2>

<form id="SendMessageForm">
    @Html.EditorForModel()
    <button id="SendMessageButton" type="button">Send</button>
    <div id="SendMessageAjaxStatus"></div>
</form>

<script type="text/javascript">
    // Called when the user initiates a send message AJAX request.
    function SendMessageStarted() {
        // Disable the button so it cannot be double clicked, or more.
        $('#SendMessageButton').prop('disabled', true);
        $('#SendMessageButton').text('Sending...');
    }

    function SendMessageCompleted() {
        $('#SendMessageButton')
            .prop('disabled', false)
            .text('Send');
    }

    function SendMessage() {
        var ajaxRequest = $.post('@Url.HttpRouteUrl("SendMessage", new { queueName = ViewBag.QueueName })', $('#SendMessageForm').serialize())
            .always(SendMessageCompleted);

        ajax.indicate(ajaxRequest, $('#SendMessageAjaxStatus'), true);

        SendMessageStarted();
    }

    $(function () {
        $('#SendMessageButton').click(SendMessage);
    });
</script>

